<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<nav>
	<%= admins_only do %>
	<%= link_to "Admin", admin_root_path %><br>
<% end %>
<% if user_signed_in? %>
	Signed in as <%= current_user.email %>
	<%= link_to "Log out", destroy_user_session_path %>
<% else %>
	<%= link_to "Sign in", new_user_session_path %>
	<%= link_to "Sign up", new_user_registration_path %>
<% end %>
</nav>
<body>
<% flash.each do |key, value| %>
	<div class='flash' id='<%= key %>'>
	<%= value %>
</div>
<% end %>
<h1><%= link_to "Ticketee", root_path %></h1>
<%= yield %>

</body>
</html>
